@model IEnumerable<DoorBoxApp.Models.Merchant>

@{
    ViewData["Title"] = "Pending Merchants";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>

        .table tr th {
            text-align: center;
        } 
        .table tr td {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow  d-inline-block text-uppercase ls-1 text-white">Pending Merchants</h3>
                </div>

            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">

                <table class="table align-items-center  table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Id No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Phone No
                            </th>
                            <th>
                                Email
                            </th>

                            <th>
                                Address
                            </th>


                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.MerchantIdNo
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.ApplicationUser.UserName
                                </td>

                                <td>
                                    @item.ApplicationUser.PhoneNumber
                                </td>

                                <td>
                                    @item.ApplicationUser.Email
                                </td>

                                <td>
                                    @item.Address
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">

                                        <a class="btn btn-success btn-sm" asp-action="Activate" asp-route-id="@item.Id">Activate</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
