
@model IEnumerable<DoorBoxApp.Models.Package>
@{
    ViewData["Title"] = "Asingn Delevery";
}
@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>
        .table tr th:last-child {
            width: 100px;
        }

        .table tr th {
            text-align: center;
        }

        .table tr td {
            text-align: center;
        }
    </style>
}
<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase text-white ls-1">Asingn Delevery</h3>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">

                <table class="table align-items-center table-responsive-sm table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Merchant Name
                            </th>
                            @*<th>
                                    Merchant Phone
                                </th>*@
                            <th>
                                Client  Name
                            </th>
                            <th>
                                Client  Phone
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Sub-Location
                            </th>

                            <th>
                                Price
                            </th>

                            <th>
                                Tracking NO
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.PickUpRequest.Merchant != null)
                                {
                                    <td>
                                        @item.PickUpRequest.Merchant.Name

                                    </td>
                                    @*<td>
                                            @item.PickUpRequest.Merchant.ApplicationUser.PhoneNumber

                                        </td>*@

                                }
                                else
                                {
                                    <td>
                                        N/A
                                    </td>
                                    <td>
                                        N/A
                                    </td>

                                }

                                <td>
                                    @item.ClientName
                                    <input type="hidden" name="name" value="@item.OTP" />
                                </td>

                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td class="text-wrap">
                                    @item.Address
                                </td>

                                @if (item.LocationTo != null)
                                {
                                    <td>
                                        @item.LocationTo.Name

                                    </td>
                                }
                                else
                                {
                                    <td>
                                        N/A
                                    </td>
                                }
                                @if (item.SubLocation != null)
                                {
                                    <td>
                                        @item.SubLocation.Name

                                    </td>
                                }
                                else
                                {
                                    <td>
                                        N/A
                                    </td>
                                }

                                <td class="text-wrap">
                                    @item.ProductPrice
                                </td>

                                <td>
                                    @item.TrackingNumber
                                </td>

                                <td class="text-center">
                                    <div class="btn-group">
                                        @if (item.Status == 2)
                                        {
                                           <input type="button" class="btn btn-info  btn-sm DeliveryMan" value="Delivery Man" />
                                           <input type="button" class="btn btn-default btn-sm  Vendor" value="Vendor" />  
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
             $('.DeliveryMan').on('click', function () {
                var row = $(this).closest('tr');
                /*var id = row.find('.id').val();*/
                var dmData = '';
                var pmData = '';
                var url = '@Url.Action("GetDelivaryMen", "DeliveryMen")';
                var urls = '@Url.Action("GetPackages", "Packages")';
                dmData += '<option selected value="0">Delivary Man</option>';
                pmData += '<option selected value="0"> Packages </option>';
                $.when(
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: url,
                    data: {
                    },
                    cache: false,
                    success: function (objects) {
                        $.each(objects, function (index, object) {

                            if (objects != null) {
                                dmData += '<option value="' + object.id + '">' + object.name + ' </option>';
                            }
                        });
                    }
                }),
                $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: urls,
                        data: {
                        },
                        cache: false,
                        success: function (objects) {
                            $.each(objects, function (index, object) {
                                if (objects != null) {
                                    pmData += '<option value="' + object.id + '">' + object.clientName + ' </option>';
                                }
                            });
                        }
                }),
                ).then(function () {

                $.confirm({
                    title: 'Assign Delivey Man !',
                    theme: 'modern',
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    backgroundDismiss: true,
                    backgroundDismissAnimation: 'shake',
                    closeIcon: true,
                    content: '' +

                        '<form action="" class="formName">' +
                        '<div class="form-group">' +
                        '<label class="text-danger">Please select a Delivary Man</label>' +
                        '<select id = "delivaryManId" class="form-control sectionId js-single">' + dmData + '</select>'+
                        '</div>' +
                        '<div class="form-group">' +
                        '<label class="text-danger">Please select a Packeges </label>' +
                        '<select id = "packagesId" class="form-control sectionId js-single">' + pmData + '</select>' +
                        '</div>' +
                        '</form>',

                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function () {
                                var delivaryManId = this.$content.find('#delivaryManId').val();
                                var packagesId = this.$content.find('#packagesId').val();
                                if (delivaryManId == 0 && packagesId == 0) {

                                } else
                                {
                                    var url = '@Url.Action("AddDeleverDelivaryMan", "DeliveryMen")';
                                    $.ajax({
                                        type: "POST",
                                        dataType: 'json',
                                        url: url,
                                        data: {
                                            delivaryManId: delivaryManId,
                                            packagesId: packagesId,
                                        },
                                        cache: false,
                                        success: function (result) {
                                            if (result) {
                                                location.href = '/PickUpRequests/AsingnDelever';
                                            }

                                        }
                                    });
                                }
                            // submit
                            }
                        },
                    cancel: function () {
                        //close
                        },
                    },
                    backgroundDismiss: true,

                });

                });
            });
        });
    </script>

    <script type="text/javascript">
         $(document).ready(function () {
             $('.Vendor').on('click', function () {
               var row = $(this).closest('tr');
              /*  var id = row.find('.id').val();*/
                var vnData = '';
                var pmData = '';
                var url = '@Url.Action("GetVendor", "Vendors")';
                var urls = '@Url.Action("GetPackages", "Packages")';
                vnData += '<option selected value="0"> Vendors </option>';
                pmData += '<option selected value="0"> Packages </option>';
                $.when(
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: url,
                    data: {
                    },
                    cache: false,
                    success: function (objects) {
                        $.each(objects, function (index, object) {

                            if (objects != null) {
                                vnData += '<option value="' + object.id + '">' + object.name + ' </option>';
                            }
                        });
                    }
                }),
                $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: urls,
                        data: {
                        },
                        cache: false,
                        success: function (objects) {
                            $.each(objects, function (index, object) {
                                if (objects != null) {
                                    pmData += '<option value="' + object.id + '">' + object.clientName + ' </option>';
                                }
                            });
                        }
                }),
                ).then(function () {

                $.confirm({
                    title: 'Assign Vendor !',
                    theme: 'modern',
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    backgroundDismiss: true,
                    backgroundDismissAnimation: 'shake',
                    closeIcon: true,
                    content: '' +

                        '<form action="" class="formName">' +
                        '<div class="form-group">' +
                        '<label class="text-danger">Please select a Vendors </label>' +
                        '<select id = "vendorsId" class="form-control sectionId js-single">' + vnData + '</select>'+
                        '</div>' +
                        '<div class="form-group">' +
                        '<label class="text-danger">Please select a Packeges </label>' +
                        '<select id = "packagesId" class="form-control sectionId js-single">' + pmData + '</select>' +
                        '</div>' +
                        '</form>',

                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function () {
                                var vendorsId = this.$content.find('#vendorsId').val();
                                var packagesId = this.$content.find('#packagesId').val();
                                if (vendorsId == 0 && packagesId == 0) {

                                } else
                                {
                                    var url = '@Url.Action("AssignVendor", "Vendors")';
                                    $.ajax({
                                        type: "POST",
                                        dataType: 'json',
                                        url: url,
                                        data: {
                                            vendorsId: vendorsId,
                                            packagesId: packagesId,
                                        },
                                        cache: false,
                                        success: function (result) {
                                            if (result) {
                                                location.href = '/PickUpRequests/AsingnDelever';
                                            }

                                        }
                                    });
                                }
                            // submit
                            }
                        },
                    cancel: function () {
                        //close
                        },
                    },
                    backgroundDismiss: true,

                });

                });
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
