@model IEnumerable<DoorBoxApp.Models.PickUpRequest>

@{
    ViewData["Title"] = "Requests";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>
        .table tr th:last-child {
            width: 160px;
        }

        .table tr th {
            text-align: center;
        }

        .table tr td {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-white d-inline-block text-uppercase ls-1">Requests</h3>
                </div>

            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">

                <table class="table align-items-center  table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>

                            <th>
                                Marchant Name
                            </th>
                            <th>
                                Marchant Phone
                            </th>
                            <th>
                                Marchant Address
                            </th>

                            <th>
                                Pickup Address Address
                            </th>
                            <th>
                                Number of Packages
                            </th>

                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (item.Merchant != null)
                                {
                                    <td class="text-wrap">@item.Merchant.Name</td>
                                    <td class="text-wrap">@item.Merchant.ApplicationUser.PhoneNumber</td>
                                    <td class="text-wrap">@item.Merchant.Address</td>

                                }
                                else
                                {
                                    <td>N/A</td>

                                }
                                <td class="text-wrap">
                                    @item.PickupAddress
                                </td>

                                <td>
                                    @item.TotalPackageNumber
                                </td>

                                <td class="text-center">
                                    <div class="btn-group">
                                        <input type="hidden" class="id" name="name" value=" @item.Id" />
                                        @if (item.Status == 3)
                                        {
                                            <input type="button" class="btn btn-success btn-sm pickupButton" value="PickUp" />
                                        }


                                        else if (item.Status == 4)
                                        {
                                            <a class="btn btn-success btn-sm text-white">Picked Up</a>
                                        }



                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
             $('.pickupButton').on('click', function () {
                var row = $(this).closest('tr');
                var id = row.find('.id').val();
                var totalPacks = 0;
                var url = '@Url.Action("GetPackageDetails", "Packages")';
                $.when(
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: url,
                    data: {
                        id: id,
                    },
                    cache: false,
                    success: function (objects) {
                        $.each(objects, function (index, object) {
                            if (objects != false && objects != null) {
                                totalPacks = objects.totalPackageNumber
                            }
                        });
                    }
                }),
                ).then(function () {
                $.confirm({
                    title: 'Pick up Packages!',
                    theme: 'modern',
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    backgroundDismiss: true,
                    backgroundDismissAnimation: 'shake',
                    closeIcon: true,
                    content: '' +
                        '<form action="" class="formName">' +
                        '<div class="form-group">' +
                        '<label class="text-success">Total Requested Package is :' + totalPacks + ' </label></br>' +
                        '<label class="text-dark font-weight-400">Picked Up : </label>' +
                        '<input id = "pickedUpPackageNumber" class="form-control pickedUpPackageNumber " type="number"/>' +
                        '</div>' +
                        '</form>',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function () {
                                var pickedUpPackageNumber = this.$content.find('#pickedUpPackageNumber').val();
                                if (pickedUpPackageNumber == 0 && pickedUpPackageNumber > totalPacks) {
                                } else
                                {
                                    var url = '@Url.Action("AddDeliveryManPickUp", "Packages")';
                                    $.ajax({
                                        type: "POST",
                                        dataType: 'json',
                                        url: url,
                                        data: {
                                            id: id,
                                            pickedUpPackageNumber: pickedUpPackageNumber,
                                        },
                                        cache: false,
                                        success: function (result) {
                                            if (result) {
                                                location.reload();
                                            }
                                        }
                                    });
                                }
                            // submit
                            }
                        },
                    cancel: function () {
                        //close
                        },
                    },
                    backgroundDismiss: true,
                });
                    });
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}