@model DoorBoxApp.Models.PickUpRequest

@{
    ViewData["Title"] = "Add Packages";
}

@section Css {
    <link asp-append-version="true" type="text/css" rel="stylesheet" href="~/vendor/select2/select2.min.css" />
}

@section Sole {
    <style>


        .table tr th {
            text-align: center;
        }

            .table tr th:first-child {
                width: 160px;
                text-align: left !important;
            }

        .table tr td {
            text-align: center;
        }

            .table tr td:first-child {
                text-align: left;
            }

        /*.select2-container .select2-selection {
            padding: 7px 12px 4px;
            height: 40px;
            font-size: .9125rem;
            background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT9JREFUeNrs100KglAQB/AxXBp0A93UNk+QrosO0CJo1SK6QRARdINo0TWitt3D7mCLOkBvqgcVan5M9C+czQN19Mc8x/c0KCbCMPTVsKcvRyXhnEsAkQS00YFuCcwLVA3iqKGGXEGHQCIO6KMDbXRgOcW5gaqDXQKKCvL0xgHhK9j86QoGwYFOp3PmB3EO5378Hez1BzQcjTMh+VrO4dxCwPsmNTFm08m1EmmRGsc5nFu0gm87uNtpp0a+4jj348C0SAlcFNBLm5iElMJxGC/v4DHrPnCz3dFsvqBGo07r1fJ6TAr3BFQ4hh3z3OQRqT9FEjgOU2IF0RBG6k6XwIkBNbJqWbetkNcSW0lMySVOEhbVxVC7mCigDwu8/2YScgXhgT46sFlOcUGgCwtE+82MqiA80EEHemUF/xl4EWAAT0mXtdDaAKkAAAAASUVORK5CYII=') no-repeat right 0px center;
        }*/
    </style>
}

<div class="container-fluid mt-4">
    <div class="card mb-4 animated fadeIn">
       
        <div class="card-body p-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">From</label>
                            <select asp-for="LocationFromId" class="form-control" data-toggle="select" asp-items="ViewBag.LocationFromId"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Request Details</label>
                            <input asp-for="Details" class="form-control" readonly>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Pickup Address</label>
                            <textarea asp-for="PickupAddress" class="form-control" rows="2" readonly></textarea>
                            <span asp-validation-for="PickupAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="text-center">
                            <input class="btn btn-success  mb-4 finalizeButton" type="submit" name="name" id="saveButton" value="Save">
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="card mb-4 animated fadeIn">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">

                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Add Packages</h3>


                </div>
                <div class="col text-right">
                    <a asp-action="AdminIndex" asp-controller="PickUpRequests" class="btn btn-back">Back</a>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">From</label>
                            <select asp-for="LocationFromId" class="form-control" data-toggle="select" asp-items="ViewBag.LocationFromId"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Request Details</label>
                            <input asp-for="Details" class="form-control" readonly>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Pickup Address</label>
                            <textarea asp-for="PickupAddress" class="form-control" rows="4" readonly></textarea>
                            <span asp-validation-for="PickupAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="text-center">
                            <input class="btn btn-success  mb-4 finalizeButton" type="submit" name="name" id="saveButton" value="Save">
                        </div>
                    </div>
                </div>
            </form>


            

        </div>
    </div>

    <div class="card mb-4 animated fadeIn">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">

                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Add Packages</h3>


                </div>
                <div class="col text-right">
                    <a asp-action="AdminIndex" asp-controller="PickUpRequests" class="btn btn-back">Back</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-hover table-striped table-bordered" id="main_table">
                <thead class="thead-light">
                    <tr>

                        <th class="text-center">Catagory</th>
                        <th class="text-center">Location(To)</th>
                        <th class="text-center">Client</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Details</th>
                        <th class="text-center">Dimension</th>
                        <th class="text-center">Weight</th>
                        <th class="text-center">Product Price</th>
                        <th class="text-center">Delivary Price</th>
                        <th class="text-center">Remarks</th>
                        <th class="text-center">Action</th>

                    </tr>
                </thead>
                <tbody id="table_body" class="table_body ">
                    @if (Model.Packages.Count != 0)
                        {
                    @foreach (var package in Model.Packages)
                            {
                    <tr>
                        <td class="p-0">
                            <select disabled class="form-control catagoryId js-single border-0 border-radius-0" data-toggle="select">
                                @foreach (var catagory in ViewBag.Catagories)
                                            {
                                                if (catagory.Id != package.PackageCatagoryId)
                                                {
                                <option value="@catagory.Id">@catagory.Name</option>
                                                }


                                            }

                                <option selected value="@package.PackageCatagory.Id">@package.PackageCatagory.Name</option>
                            </select>

                        </td>

                        <td class="p-0">
                            <select disabled class="form-control locationToId js-single border-0 border-radius-0" data-toggle="select">
                                @foreach (var location in ViewBag.Locations)
                                            {
                                                if (location.Id != package.LocationToId)
                                                {
                                <option value="@location.Id">@location.Name</option>
                                                }


                                            }

                                <option selected value="@package.LocationTo.Id">@package.LocationTo.Name</option>
                            </select>

                        </td>
                        <td class="p-0">
                            <input disabled class="form-control clientName border-0 border-radius-0 text-center" type="text" value="@package.ClientName" />
                        </td>
                        <td class="p-0">
                            <input disabled class="form-control address border-0 border-radius-0 text-center" type="text" value="@package.Address" />
                        </td>



                        <td class="p-0">
                            <input disabled class="form-control phoneNo border-0 border-radius-0 text-center" type="text" value="@package.PhoneNumber" />
                        </td>
                        <td class="p-0">
                            <input disabled class="form-control details border-0 border-radius-0 text-center" type="text" value="@package.Details" />
                        </td>
                        <td class="p-0">
                            <input disabled class="form-control dimension border-0 border-radius-0 text-center" type="text" value="@package.Dimension" />
                        </td>
                        <td class="p-0">
                            <input disabled class="form-control weight border-0 border-radius-0 text-center" type="text" value="@package.Weight" />
                        </td>

                        <td class="p-0">
                            <input disabled class="form-control productPrice border-0 border-radius-0 text-center" type="text" value="@package.ProductPrice" />
                        </td>

                        <td class="p-0">
                            <input disabled class="form-control delivaryPrice border-0 border-radius-0 text-center" type="text" value="@package.Price" />
                        </td>

                        <td class="p-0">
                            <input disabled class="form-control remarks border-0 border-radius-0 text-center" type="text" value="@package.Remarks" />
                        </td>






                        @if (package.Status == 3)
                                    {

                        <td class="text-center align-middle p-2">
                            <div class="btn-group">
                                <input class="btn btn-success btn-sm save_button mr-0" type="button" disabled name="save_button" id="save_button" value="Saved" />
                                <input class="btn btn-default btn-sm edit_button " type="button" name="edit_button" id="edit_button" value="Edit" />
                                <input class="btn btn-danger btn-sm delete_button " disabled type="button" name="delete_button" id="delete_button" value="Delete" />
                            </div>

                            <input type="hidden" class="packageId" name="packageId" value="@package.Id" />

                        </td>
                                    }
                                    else
                                    {
                        <td class="text-center align-middle p-2">
                            <div class="btn-group">
                                <input class="btn btn-success btn-sm mr-0" type="button" disabled id="noAction" value="Enlisted" />

                            </div>


                        </td>
                                    }


                    </tr>
                            }
                        }

                    @if (Model.Status == 1)
                        {

                    <tr>
                        <td class="p-0">
                            <select class="form-control catagoryId js-single border-0 border-radius-0" data-toggle="select">
                                <option selected value="" disabled>Select</option>
                                @foreach (var catagory in ViewBag.Catagories)
                                        {
                                <option value="@catagory.Id">@catagory.Name</option>
                                        }

                            </select>
                        </td>

                        <td class="p-0">
                            <select class="form-control locationToId js-single border-0 border-radius-0" data-toggle="select">
                                <option selected value="" disabled>Select</option>
                                @foreach (var location in ViewBag.Locations)
                                        {
                                <option value="@location.Id">@location.Name</option>
                                        }

                            </select>
                        </td>
                        <td class="p-0">

                            <input class="form-control clientName border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="p-0">

                            <input class="form-control address border-0 border-radius-0 text-center" type="text" value="" />
                        </td>

                        <td class="p-0">
                            <input class="form-control phoneNo border-0 border-radius-0 text-center" type="text" value="" />
                        </td>

                        <td class="p-0">
                            <input class="form-control details border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="p-0">
                            <input class="form-control dimension border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="p-0">
                            <input class="form-control weight border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="p-0">
                            <input class="form-control productPrice border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="p-0">
                            <input class="form-control delivaryPrice border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="p-0">
                            <input class="form-control remarks border-0 border-radius-0 text-center" type="text" value="" />
                        </td>
                        <td class="text-center align-middle p-2">
                            <div class="btn-group">
                                <input class="btn btn-success btn-sm save_button mr-0" type="button" name="save_button" id="save_button" value="Save" />

                            </div>

                        </td>
                    </tr>
                        }

                </tbody>
            </table>
        </div>
        @if (Model.Status == 3)
            {
        <div class="col-12">
            <div class="text-center">
                <input class="btn btn-success mt-3 finalizeButton" type="button" name="name" id="finalizeButton" value="Finalize">
            </div>
        </div>
            }

    </div>





</div>
@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {



            $(".weight , .locationToId , .catagoryId").on('change', function () {
                var row = $(this).closest('tr');
                var delivaryPrice = row.find(".delivaryPrice");
                delivaryPrice.val("");
                var weightInput = row.find(".weight").val();
                var locationFrom = $("#locationFrom").val();
                var locationTo = row.find('.locationToId').val();
                var catagoryId = row.find('.catagoryId').val();
                if (locationTo != null && catagoryId != null  && weightInput!= "") {
                    var url = '@Url.Action("GetPrice", "Tarrifs")';
                     $.ajax({
                         type: "POST",
                         dataType: 'json',
                         url: url,
                         data: {
                             locationFrom: locationFrom,
                             locationTo: locationTo,
                             weightInput: weightInput,
                             catagoryId: catagoryId,
                         },
                         cache: false,
                         success: function (result) {

                             if (result != false) {
                                 delivaryPrice.val(result);
                             }
                         }

                     });
                }
            });

             $('.save_button').on('click', function () {
                 var row = $(this).closest('tr');
                 var catagoryId = row.find('.catagoryId').val();

                 var locationToId = row.find('.locationToId').val();
                 var clientName = row.find('.clientName').val();
                 var address = row.find('.address').val();
                 var phoneNo = row.find('.phoneNo').val();
                 var details = row.find('.details').val();
                 var dimension = row.find('.dimension').val();
                 var weight = row.find('.weight').val();
                 var productPrice = row.find('.productPrice').val();
                 var delivaryPrice = row.find('.delivaryPrice').val();
                 var remarks = row.find('.remarks').val();
                 var packageId = row.find('.packageId').val();
                 var pickUpRequestId = $('#pickUpRequestId').val();

                 if (catagoryId == "" || locationToId == "" || clientName == "" || address == "" || phoneNo == "" || details == "" || weight == "" || productPrice == "" || delivaryPrice== "" ) {

                         $.notify({
                             title: 'Prompt!',
                             icon: 'fa fa-times',
                             html: true,
                             message: 'Fill Up All The Fields !!!'
                         },
                             {
                                 type: 'warning',
                                 animate: {
                                     enter: 'animated fadeInDown'
                                 },
                                 placement: {
                                     from: "top",
                                     align: "center"
                                 },
                                 spacing: 10,
                                 z_index: 1031,
                                 delay: 1000,
                                 template: '<div data-notify="container" class="alert alert-dismissible alert-{0} alert-notify" role="alert"><span class="alert-icon" data-notify="icon"></span> <div class="alert-text"</div> <span class="alert-title" data-notify="title">{1}</span> <span data-notify="message">{2}</span></div><button type="button" class="close" data-notify="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
                             });
                 }
                 else {

                     $(this).val('Saved');
                     $(this).attr("disabled", true);



                     var url = '@Url.Action("AddPackage", "Packages")';
                     $.ajax({
                         type: "POST",
                         dataType: 'json',
                         url: url,
                         data: {
                             catagoryId: catagoryId,
                             locationToId: locationToId,
                             clientName: clientName,
                             address: address,
                             phoneNo: phoneNo,
                             details: details,
                             dimension : dimension,
                             weight: weight,
                             productPrice: productPrice,
                             delivaryPrice: delivaryPrice,
                             remarks: remarks,
                             packageId: packageId,
                             pickUpRequestId: pickUpRequestId,
                         },
                         cache: false,
                         success: function (result) {
                             location.reload();
                         }

                     });

                 }

             });


             $('.edit_button').on('click', function () {
                 var row = $(this).closest('tr');
                 row.find('.catagoryId').attr("disabled", false);
                 row.find('.locationToId').attr("disabled", false);
                 row.find('.clientName').attr("disabled", false);
                 row.find('.address').attr("disabled", false);
                 row.find('.phoneNo').attr("disabled", false);
                 row.find('.details').attr("disabled", false);
                 row.find('.dimension').attr("disabled", false);
                 row.find('.weight').attr("disabled", false);
                 row.find('.productPrice').attr("disabled", false);
                 row.find('.delivaryPrice').attr("disabled", false);
                 row.find('.remarks').attr("disabled", false);
                 row.find('.save_button').attr("disabled", false);
                 row.find('.delete_button').attr("disabled", false);
                 row.find('.save_button').val('Save');
            });

             $('.delete_button').on('click', function () {
                 var row = $(this).closest('tr');
                 var packageId = row.find('.packageId').val();
                 var url = '@Url.Action("DeletePackage", "Packages")';
                 $.ajax({
                     type: "POST",
                     dataType: 'json',
                     url: url,
                     data: {
                         packageId: packageId,
                     },
                     cache: false,
                     success: function (result) {
                         location.reload();
                     }
                 });

             });



            $("#finalizeButton").on('click', function () {
                var pickUpRequestId = $('#pickUpRequestId').val();

                 var url = '@Url.Action("FinalizeRequest", "Packages")';
                 $.ajax({
                     type: "POST",
                     dataType: 'json',
                     url: url,
                     data: {
                         pickUpRequestId: pickUpRequestId,
                     },
                     cache: false,
                     success: function (result) {
                         location.reload();
                     }
                 });


            });
        });
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val();
            var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
            $(this).next('.custom-file-label').html(cleanFileName);
        })
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

