<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - Door Box</title>

    <link asp-append-version="true" rel="icon" type="image/x-icon" href="~/asset/img/logo.png">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/vendor/fonts/roboto-condensed/css.css">

    @RenderSection("Css", required: false)
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/vendor/jquery-confirm/jquery-confirm.css">
    <link asp-append-version="true" type="text/css" rel="stylesheet" href="~/vendor/animate.css/animate.min.css">
    <link asp-append-version="true" type="text/css" rel="stylesheet" href="~/css/main.css">
    <link asp-append-version="true" type="text/css" rel="stylesheet" href="~/css/login.css">

    @RenderSection("Sole", required: false)
</head>

<body class="g-sidenav-pinned active-sidebar">

    <div class="main-content" id="panel">

        @*<partial name="_CookieConsentPartial" />*@

        <main role="main">

            @RenderBody()

        </main>

    </div>

    <script asp-append-version="true" type="text/javascript" src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/js-cookie/js.cookie.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/jquery-scroll-lock/jquery-scrollLock.min.js"></script>
    <script src="~/asset/login/js/jquery.backstretch.min.js" asp-append-version="true"></script>
    <script src="~/asset/login/js/fede.js" asp-append-version="true"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/jquery-confirm/jquery-confirm.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>