@model IEnumerable<DoorBoxApp.Models.DeliveryMan>

@{
    ViewData["Title"] = "Delivery Men";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>


        .table tr th:last-child {
            width: 100px;
        }

        .table tr th {
            text-align: center;
        }

        .table tr td {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow  d-inline-block text-uppercase ls-1 text-white">Delivery Men</h3>
                </div>
                <div class="col text-right">
                    <a asp-action="Create" class="btn btn-create">New</a>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">

                <table class="table align-items-center table-responsive-sm table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>

                            <th>
                                Name
                            </th>
                              <th>
                                Id No
                            </th>
                              <th>
                                NID
                            </th>
                              <th>
                                Phone No
                            </th>
                              <th>
                                Address
                            </th>
                                <th>
                                Salary
                            </th>
                               <th>
                                Pickup Rate
                            </th>
                               <th>
                                Delivery Rate
                            </th>
                              
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.DeliveryManIdNo
                                </td>
                                <td>
                                    @item.NIDNumber
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>

                                  <td>
                                    @item.Address
                                </td>
                                 <td>
                                    @item.Salary
                                </td>

                                 <td>
                                    @item.PickUpRate
                                </td>

                                 <td>
                                    @item.DeliveryRate
                                </td>



                                <td class="text-center">
                                    <div class="btn-group">
                                        @if (item.Status == 0)
                                        {
                                            <a class="btn btn-greenyellow btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-success btn-sm" asp-action="Enable" asp-route-id="@item.Id">Enable</a>



                                        }
                                        else if (item.Status == 1)
                                        {
                                            <a class="btn btn-danger btn-sm" asp-action="Disable" asp-route-id="@item.Id">Disable</a>
                                            <a class="btn btn-default btn-sm" asp-action="AssignPackages" asp-route-id="@item.Id">Assign</a>
                                            <a class="btn btn-warning btn-sm" asp-controller="Account" asp-action="UpdatePassword" asp-route-userId="@item.ApplicationUserId">
                                                <i class="fa fa-key"></i>
                                                <span>Change Password</span>
                                            </a>

                                        }





                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
