@{
    ViewData["Title"] = "Home Page";
}

@section Css {
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/chart.js/Chart.min.js" />
}

@section Sole {
    <style>
        .gcb-table {
            padding: 3px 10px !important;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                @if (ViewBag.User == 1 || ViewBag.User == 2 || ViewBag.User == 3)
                {
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats bg-gradient-success">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Picked</h5>
                                        <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.Detail.TotalPick</span>
                                    </div>
                                    <div class="col-auto">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats bg-gradient-blue">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Delivered</h5>
                                        <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.Detail.TotalDrop</span>
                                    </div>
                                    <div class="col-auto">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats bg-gradient-danger">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Canceled</h5>
                                        <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.Detail.TotalCancel</span>
                                    </div>
                                    <div class="col-auto">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.User == 3)
                    {
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats bg-gradient-green">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Earned</h5>
                                            <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.Detail.TotalPaid</span>
                                        </div>
                                        <div class="col-auto">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats bg-gradient-warning">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Pending</h5>
                                            <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.Detail.TotalPending</span>
                                        </div>
                                        <div class="col-auto">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                }


            </div>
        </div>
        @if (ViewBag.User == 1)
        {
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header p-3 border-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="text-left">
                                    <h3 class="mb-0 skewed skewed-green d-inline-block text-white ls-1 text-uppercase">Merchants</h3>
                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <div class="text-right">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-custom">
                                <tr>
                                    <th class="text-center align-middle">Merchant Name</th>
                                    <th class="text-center align-middle">Merchant Id</th>
                                    <th class="text-center align-middle">Address</th>
                                    <th class="text-center align-middle">Phone</th>
                                    <th class="text-center align-middle">Email</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var merchant in ViewBag.Merchants)
                                {
                                    <tr>

                                        <td class="text-center align-middle">@merchant.Name</td>
                                        <td class="text-center align-middle">@merchant.MerchantIdNo</td>
                                        <td class="text-center align-middle">@merchant.Address</td>
                                        <td class="text-center align-middle">@merchant.ApplicationUser.PhoneNumber</td>
                                        <td class="text-center align-middle">@merchant.ApplicationUser.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header p-3 border-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="text-left">
                                    <h3 class="mb-0 skewed skewed-green d-inline-block text-white ls-1 text-uppercase">Delivery Mans</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-custom">
                                <tr>
                                    <th class="text-center align-middle">Name</th>
                                    <th class="text-center align-middle">DM Id</th>
                                    <th class="text-center align-middle">Address</th>
                                    <th class="text-center align-middle">Phone</th>
                                    <th class="text-center align-middle">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dm in ViewBag.DeliveryMans)
                                {
                                    <tr>

                                        <td class="text-center align-middle">@dm.Name</td>
                                        <td class="text-center align-middle">@dm.DeliveryManIdNo</td>
                                        <td class="text-center align-middle">@dm.Address</td>
                                        <td class="text-center align-middle">@dm.PhoneNumber</td>
                                        <td class="text-center align-middle">@dm.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            @if (ViewBag.User == 2)
            {
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header p-3 border-0">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-left">
                                        <h3 class="mb-0 skewed skewed-green d-inline-block text-white ls-1 text-uppercase">Tarrifs</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-custom">
                                    <tr>
                                        <th class="text-center align-middle">Catagory</th>
                                        <th class="text-center align-middle">From</th>
                                        <th class="text-center align-middle">To</th>
                                        <th class="text-center align-middle">Fixed Price</th>
                                        <th class="text-center align-middle">Increment Per KG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tarrif in ViewBag.Tarrifs)
                                    {
                                        <tr>

                                            <td class="text-center align-middle">@tarrif.PackageCatagory.Name</td>
                                            <td class="text-center align-middle">@tarrif.LocationFrom.Name</td>
                                            <td class="text-center align-middle">@tarrif.LocationTo.Name</td>
                                            <td class="text-center align-middle">@tarrif.FixedAmountFirstKG</td>
                                            <td class="text-center align-middle">@tarrif.IncrementPerKG</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>


@section Scripts {
    <script asp-append-version="true" src="~/vendor/chart.js/Chart.min.js"></script>
    <script asp-append-version="true" src="~/vendor/chart.js/utils.js"></script>
    @*<script asp-append-version="true" src="~/vendor/chart.js/chartjs-plugin-datalabels.js"></script>*@

    <script>


                        //var purple_orange_gradient = ctx.createLinearGradient(100, 0, 100, 700);
                        //purple_orange_gradient.addColorStop(0, 'rgba(255,165,0,0.5)');
                        //purple_orange_gradient.addColorStop(1, 'rgba(199, 34, 184, 0.5)');

    </script>
}